# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
*.log
npm-debug.log*
dev-emails.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build files
dist/
build/

# Test files
coverage/

# Local Netlify folder
.netlify
